@import "../../.cache/iris/colors.css";

:root {
  --bar-outline-width: 5px;
  --bar-outline-color: var(--accent);
  --color-background-bar: var(--bg);

  --color-accent-primary: var(--accent);
  --color-state-warning: var(--yellow);
  --color-state-urgent: var(--red);
}

.bar {
  margin: 10px 0 10px 10px;
}

* {
  color: var(--fg);
}

.vibepanel-tooltip>box {
  background-color: var(--bg);
  margin-left: 5.5px;
  border-width: 4.5px;
  border-color: var(--accent);
  border-style: solid;
}

.popover {
  background-color: var(--bg);
  margin-left: 14.5px;
  border-width: 4.5px;
  border-color: var(--accent);
}

.media-bar-visualizer,
.media-visualizer {
  color: var(--accent);
}

.notification-toast {
  background-color: var(--bg);
  border-width: 4.5px;
  border-color: var(--accent);
}